---
---

@import "{{ site.theme }}";

html {
  background: #222222;
  background: #222222 linear-gradient(#222222, #111111) fixed;
  height: 100%;
}

.wrapper {
  background: #222222;
}

section {
  background: #222222;
}

body {
  p, a, h1, h2, h3, h4, h5, h6 {
    color: #A7A7A7;
  }
}

