---
---

@import "{{ site.theme }}";

header {
  display: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background: linear-gradient(#222222, #111111);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: linear-gradient(#ffffff, #cfcfcf);
  }
  h1, h2, h3, h4, h5, h6 {
    color:#171717;
  }
  p, ul, ol, table, pre, dl {
    color:#171717;
  }
  a {
    color:#cd9a00;
  }
}
