---
---

@import "{{ site.theme }}";

html {
  background: #222222;
  background: #222222 linear-gradient(#222222, #111111) fixed;
  height: 100%;
}

.wrapper {
  background: #166666;
}

body {
  color: #A7A7A7;
}

