<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>
  <body>
    <div class="wrapper">
      <header {% unless site.description or site.github.project_tagline %} class="without-description" {% endunless %}>
        <h1><a href="/">plainDE</a></h1>
        <p>Lightweight. Rapid. Plain.</p>
        <nav>
          <p class="view"><a href="https://plainde.github.io/docs.github.io/installation.html">How to install</a></p>
          <p class="view"><a href="/pages/get-involved">Send feedback</a></p>
          <p class="view"><a href="https://plainde.github.io/docs.github.io/">Read wiki</a></p>
          <p class="view"><a href="/gallery">View gallery</a></p>
          <p class="view"><a href="/pages/bugtracker">Bug Tracker</a></p>
          <p class="view"><a href="https://github.com/plainDE">View on GitHub</a></p>
        </nav>
        <nav>
          <ul>
            <li><a href="https://plainde.github.io/docs.github.io/installation.html">How to<strong>Install</strong></a></li>
            <li><a href="/pages/get-involved">Send<strong>Feedback</strong></a></li>
            <li><a href="https://plainde.github.io/docs.github.io/">Read<strong>Wiki</strong></a></li>
            <li><a href="/gallery">View<strong>Gallery</strong></a></li>
            <li><a href="/pages/bugtracker"><strong>Bug Tracker</strong></a></li>
            <li><a href="https://github.com/plainDE">Visit<strong>GitHub</strong></a></li>
          </ul>
        </nav>
     </header>
        <section>
          <div align="left">
            <h2>{{ page.title }}</h2>
          </div>
          {{ content }}
        </section>
    </div>
  </body>
</html>
